:root {
  /* search color*/
  --color: rgb(121, 121, 121);
  --background: rgb(29, 29, 31);
  --title-color: rgb(218, 218, 218);
  --text-color: rgb(215, 215, 215);
  --nav-color: rgb(79, 234, 245);
  --container: rgba(255, 255, 255, 0.098);
  --thick-color: rgba(102, 132, 168, 0.404);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: roboto, sans-serif;
  font-size: 16px;
}

.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(37, 37, 37) 20%,
    rgb(46, 46, 46) 80%
  );
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
a {
  text-decoration: none;
  color: rgb(251, 251, 251);
}
.nav-link {
  position: relative;
}
.nav-link:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: -6px;
  background-color: var(--nav-color);
  height: 2.2px;
  width: 0px;
  transition: 0.3s ease-in-out;
}
.nav-link:hover:after {
  width: 122%;
}
.nav-link.active:after {
  width: 122%;
}

.weather {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo {
  height: 40px;
  width: 40px;
  overflow: hidden;
}

.logo img {
  height: 100%;
  width: 100%;
  border-radius: 30%;
}

.text h2 {
  font-size: 21px;
  color: var(--nav-color);
}

.lang select {
  padding: 5px 7px;
  font-size: 14px;
  color: rgb(251, 251, 251);
  background-color: var(--background);
}

select,
::picker(select) {
  appearance: base-select;
  border-radius: 5px;
}

::picker(select) {
  border: 0;
  margin: 0.4rem 0;
}

.lang option {
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 25px;
}
.input {
  background-color: transparent;
  color: rgb(251, 251, 251);
  padding: 6px 25px 6px 10px;
  border: 1.5px solid var(--nav-color);
  border-radius: 5px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  left: 284px;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  color: var(--color);
  margin-top: 2px;
  font-size: 16px;
}
.search-icon:hover {
  cursor: pointer;
  color: rgb(218, 218, 218);
}

#options {
  position: absolute;
  top: 100%;
  width: 78%;
  background: rgb(234, 234, 234);
  list-style: none;
  margin: 5px 0 0;
  padding: 0;
  border-radius: 8px;
  display: none;
}

#options {
  border-radius: 8px;
}

#options li {
  padding: 10px;
  cursor: pointer;
  color: rgb(50, 50, 50);
  font-size: 16px;
}

#options li:hover {
  background: #d8d8d8;
  border-radius: 8px;
}

/* index.php */

.main-body {
  margin-top: 80px;
  background-color: var(--background);
}

.main-body h2 {
  color: var(--title-color);
}

.today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.today .main {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.main-1,
.main-2,
.auxi-1,
.auxi-2 {
  background-color: var(--container);
  margin: 0 auto;
  border: 1.2px solid var(--thick-color);
}
.today .main-1 {
  border-radius: 20px;
  padding: 130px 250px;
}

.today .main-2 {
  border-radius: 15px;
  padding: 130px 120px;
}

.today .auxi {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.today .auxi-1 {
  border-radius: 15px;
  padding: 100px 260px;
}

.today .auxi-2 {
  border-radius: 15px;
  padding: 100px 200px;
}

/* forecast.php */
.forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-1 {
  margin: 50px auto;
  width: max(1000px, 95%);
  display: grid;
  grid-template: 2, 3;
}
.cityContainer {
  margin: 10px 0 10px;
  border: 1.2px solid var(--thick-color);
  border-radius: 10px;
  height: 120px;
  width: 210px;
}
.dayContainer {
  background-color: var(--container);
  margin: 10px 0 10px;
  border: 1.2px solid var(--thick-color);
  border-radius: 10px;
  height: 120px;
  width: 210px;
}

/* footer.php */
.page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-footer p {
  text-align: center;
  color: rgba(183, 183, 183, 0.626);
}
